* {
  box-sizing: border-box;
}

//Para que al hacer click a enlaces baje suavemente
html {
  scroll-behavior: smooth;
}

body {
  color: $body-color;
  background-color: $white-color;
}

//HEADER

.header {
  border-bottom: 2px solid $body-bg;
}

.header__logo-img {
  width: auto;
  max-height: 60px;
  margin: 5px 10px;
}

.header__nav-item {
  margin-right: 20px;
  font-weight: bold;
}

.header__brand {
  font-weight: bold;
}


//FOOTER

.footer__container {
  padding-top: 60px;
}

.footer__last-row {
  padding: 15px;
  color: white;
  background-color: $uoc-corporate;
}

.last-row p {
  margin-bottom: 0rem;
}

.footer-link {
  font-weight: bold;
  color: $body-color;
  text-decoration: none;
}

.footer-link:hover {
  color: $body-bg;
  text-decoration: none;
}

footer .img-fluid {
  height: 100px;
}

//ARTICLE

.custom-container {
  max-width: 600px; 
  padding: 0px 20px;
  margin-right: auto;
  margin-left: auto;
}

.list-circle {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 2.5rem;
}

.list-circle .list-item-content {
  margin-left: 1rem; 
}

.list-circle p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.list-circle h5::before {
  position: absolute;
  top: 50%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  color: $body-color;
  content: counter(list-item);
  counter-increment: list-item;
  background-color: transparent;
  border: 2px solid #007bff67;
  border-radius: 50%; 
  transform: translateY(-50%);
}

//INDEX

.landing {
  background-color: $body-bg;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  max-width: 1200px;
  padding: 1rem;
  margin: 0 auto;
}

.promo-tournament {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
}

.promo-text {
  text-align: center;
}

.promo-image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
}

.promo-image-grid img {
  max-width: 100%;
  height: auto;
}

/* For browsers that do not support CSS Grid */
@supports not (display: grid) {
  .grid-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .promo-tournament {
    display: flex;
    flex-wrap: wrap;
  }
}

/* Responsive styles */
@media (max-width: 767px) {
  .promo-image-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 575px) {
  .promo-image-grid {
    grid-template-columns: 1fr;
  }
}

//MEMBERS

.members-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.member-card {
  display: flex;
  flex: 1 1 calc(33.3333% - 1rem);
  flex-direction: column;
  max-width: calc(33.3333% - 1rem);
  min-height: 100%;
  background-color: #fff;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.15);
}

.card-img-top {
  max-width: 100%;
  height: auto;
}

.card-body {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.card-footer {
  padding: 1rem;
  text-align: center;
}

@media (max-width: 767px) {
  .member-card {
    flex: 1 1 calc(50% - 1rem);
    max-width: calc(50% - 1rem);
  }
}

@media (max-width: 576px) {
  .member-card {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

